
//------------------------------ Fonts -----------------------------------
regular_font = 'Roboto', sans-serif


//------------------------------ Paths -----------------------------------
image_path = '/public/Frontend/src/assets/images/'

//------------------------------ Colors ----------------------------------
color_anchor = #ff0000
hover_anchor = #064d82
//------------------------------ Speed animations ------------------------
animation_speed = 0.5s